
header {
    position: relative;
    margin-bottom: .5rem;
}

.header-text {
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
    font-size: 24px;
    color: rgb(137, 116, 88);
}

.header-pattern {
    position: absolute;
    z-index: 1;
    background-size: auto auto;
    background-image: repeating-linear-gradient(0deg, transparent, transparent 2px, #fff 2px, #fff 3px);
}

header video {
    object-fit: cover;
    object-position: center top;
    opacity: 0.5;
}

.header-text,
.header-pattern,
header video {
    width: 100vw;
    height: 50vw;
}

.grid {
    width: 94vw;
    margin: 0 auto 3vw;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(2,46vw);
    grid-template-rows: repeat(8,46vw);
}

.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}

.grid-big-top {
    grid-column: 1/3;
    grid-row: 2/3;
}

.grid-big-bottom {
    grid-column: 1/2;
    grid-row: 3/5;
}

.grid-big-toriton {
    grid-column: 1/3;
    grid-row: 6/7;
}

.lum-lightbox.lum-open {
    z-index: 4;
}

.lum-lightbox-inner img {
    max-width: 120vw;
    max-height: 80vh;
}

/* desktop size
--------------------------- */
@media(min-width:600px) {
    .grid {
        width: 80vw;
        gap: 1vw;
        grid-template-columns: repeat(3,26vw);
        grid-template-rows: repeat(5,26vw);
    }

    .grid-big-toriton {
        grid-column: 2/4;
        grid-row: 4/5;
    }
    .grid-item {
        transition: .4s;
    }
    .grid-item:hover {
        filter: grayscale(0);
        box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
        transform: scale(1.1);
        z-index: 3;
        position: relative;
    }
}